/* style.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url("hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #333;
}

.contenedor-principal {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    max-width: 1400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.726);
    border-radius: 30px;
    overflow: hidden;
    margin: 20px;
}

.encabezado-sitio {
    background-color: #000000b3;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.encabezado-sitio h1 {
    padding-left: 20px;
    margin: 0;
    display: flex;
    align-items: center;
}

.seccion-principal {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}


.area-contenido-principal {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    padding: 10px;
}

.fila-cajas-productos {
    display: grid;
    gap: 10px;
    padding-bottom: 0;
}

.caja-crud {
    background-color: #000000b3;
    padding: 100px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
